

.header {
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); 
}

.header_logo {
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 100px;

}

.content_images {
    display: flex;
    justify-content: space-between;
}

.content_images_image {
    border-radius: 20px;
    width: 450px;
    height: 400px
}


/*MENU  */

.header_navigation{   
    font-size: 14px;


}

.header_navigation ul{
    list-style: none;
    text-align: center;
    margin: 0px auto;
}

.header_navigation > ul > li{
    float: left;
    line-height: 100px;
    transition: all 200ms;
    font-weight: bold;
    color: black;
}

.header_navigation > ul > li > a{

    display: block;
    transition: all 200ms;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 20px;
}

/*MENU DESPLEGABLE */
.header_navigation > ul > li > ul{
    display: none;
    position: absolute;
    text-align: left;
    font-size: 20px;
    text-decoration: none;
    z-index: 1;    
} 

.header_navigation > ul > li:hover > ul{
    display: block;   
    text-decoration: none; 
}







.button{
    display:flex;
    justify-content: flex-end;
    border: 1px solid black;

}

.prueba{
    display:flex;
    justify-content: space-between;
}

*{
    font-family: nunito;
}

h1{
    color: #ED6436;
    font-size: 30px;
}

h2{
    font-size: 80px;
    font-weight: bold;
}



